{% extends 'base.html' %}


{% block title %}
About
{% endblock %}

{% block content %}
<h1 class="text-center" style="margin-top:50px my-5">About Us</h1>
<div class="container" style="margin-top:100px; ">

    <div class="row">
        <div class="col-md-6">
            <h3 class="strong">We Are Here To<br>HELP YOU</h3>
            <p class="lead">Devi Hospitals Pvt. Ltd., headquartered at Kollam in the state of Kerala, is one of the topmost multi-specialty hospital chains in India engaged in providing primary as well as tertiary healthcare services.<br>easy</p>


        </div>

        <div class="col-md-6">
            <p>Devi Hospital strives to be the premier health care provider in India and the finest destination in tertiary care.</p>
            <p>Devi Hospitals assures its services to be made available equitably on the basis of need
</p>

        </div>
        <div class="row">
            <div class="site-heading text-center">
                <h3>Our Team</h3>
                <p>Our team of doctors, nurses, technicians, and other experts<br>We assure your health</p>
                <div class="border"></div>
            </div>

        </div>








    </div>

</div>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-bottom ">
<div class="footer-bottom">
    <div class="container">
        <div class="row">
            <div class="col-sm-12-text-center ">
                <div class="copyright-text text-white">
                    <p>CopyRight @2023 Digital Rights Reserved</p>

                </div>

            </div>

        </div>

    </div>

</div>
</nav>


{% endblock %}



