{% extends 'base.html' %}


{% block title %}
Contact
{% endblock %}
<style>
      .mydivstyle:hover {
        box-shadow:0 0 20px 0 rgba(0, 0, 0.3);
        transform:translatey(-20px);
      }

</style>
{% block content %}

<div class="container text-center">

    <h1 class="text-center mt-5 ">Contact Us</h1>
  <div class="row align-items-start">
    <div class="col-lg-3 col-sm-6">
      <h4><i class="fas fa-phone-square">Contact</i></h4>
        <p class="text-danger font-weight-bold mt-3"><a href="tel:9800412530">9800412530</a></p>
    </div>
    <div class="col-lg-3 col-sm-6">
     <h4><i class="fa fa-envelope"></i>Send-email</h4>
        <p class="text-danger font-weight-bold mt-3"><a href="mailto:devihospital@gmail.com">devihospital@gmail.com</a></p>
    </div>
    <div class="col-lg-3 col-sm-6">
      <h4><i class="fa fa-address-card" aria-hidden="true"></i> Hospital Address</h4>
        <p  class="text-danger font-weight-bold mt-3"><a href="https://www.google.com/maps/place/Kollam">Kollam</a></p>
    </div>
    <div class="col-lg-3 col-sm-6">
      <h4><i class="fa fa-address-card" aria-hidden="true"></i>Hospital Time</h4>
        <p>9 AM TO 6 PM</p>
    </div>


  </div>
</div>




{% endblock %}


